@model IEnumerable<zoo.Models.Department>

@{
    ViewBag.Title = "Listtemplate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listtemplate</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.department_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dep_revenue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Supervisor_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dep_expenditure)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zoo.zoo_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.department_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dep_revenue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Supervisor_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dep_expenditure)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zoo.zoo_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Department_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Department_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Department_ID })
        </td>
    </tr>
}

</table>
